<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343526656309-8fv9dr11lc2b5tgkp3tq03h6ko5v349t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343526656309-8fv9dr11lc2b5tgkp3tq03h6ko5v349t</string>
	<key>API_KEY</key>
	<string>AIzaSyA_aFj6rs3P_f1d8kg2OBB8mOmtuC_N6lc</string>
	<key>GCM_SENDER_ID</key>
	<string>343526656309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelMate</string>
	<key>PROJECT_ID</key>
	<string>travelmate-wonderpets</string>
	<key>STORAGE_BUCKET</key>
	<string>travelmate-wonderpets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343526656309:ios:4b030a4690aa3a789e247c</string>
</dict>
</plist>