<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118101448204-rjr4l71tugpkgb7i30hqk6qfsr8no3rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118101448204-rjr4l71tugpkgb7i30hqk6qfsr8no3rm</string>
	<key>API_KEY</key>
	<string>AIzaSyCq1ARFZxtzy7raHdy5HyeAeCsZ_wTsRH0</string>
	<key>GCM_SENDER_ID</key>
	<string>118101448204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelMate</string>
	<key>PROJECT_ID</key>
	<string>travel-mate-db-8b295</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-mate-db-8b295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118101448204:ios:19fe4e94da3a86dcfe8029</string>
</dict>
</plist>