<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526446915145-kja5tjr5gvh8foku11cr1fo4esvgsen0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526446915145-kja5tjr5gvh8foku11cr1fo4esvgsen0</string>
	<key>API_KEY</key>
	<string>AIzaSyAN0Y0cQgHAAM0wsacgP9tfzu53oncIzaE</string>
	<key>GCM_SENDER_ID</key>
	<string>526446915145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelMate</string>
	<key>PROJECT_ID</key>
	<string>travel-mate-adfea</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-mate-adfea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526446915145:ios:0fd579ee098274eab69998</string>
</dict>
</plist>